<div class="content">
  <h1>
    <%= @post.title %>
  </h1>
  <div class="post-info">
    <small>
      <span class="green"><%= @post.user.name %></span> &#183; <span class="italic"><%= @post.created_at.strftime("%b %d %Y, %l:%M %P") %></span>
    </small>
  </div>
  <hr class="hr-content">
  <p>
    <%= @post.content %>
  </p>
  
  <br/>
  <hr class="hr-cmt">

  <div id="comments" class="comment-section">
    <% if user_signed_in? %>
      <%= render "comments/form" %>
    <% else %>
      <p class="center">Please <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to leave comment </p>
    <% end %>
    <%= render "comments/comment", comment: @comments %>
  </div>
</div>

